/rozetka_daemon_1/bin
/rozetka_daemon_1/obj



















             [ line 2/2 (100%), col 1/1 (100%), char 22/22 (100%) ]
^G Help      ^O Write Out ^W Where Is  ^K Cut       ^T Execute   ^C Location
^X Exit      ^R Read File ^\ Replace   ^U Paste     ^J Justify   ^_ Go To Line
